html, body{
    animation: fadein 2s;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    color:#fff;
    overflow-x: hidden;
    transition: .4s;
    padding-top: 30px;
    padding-bottom: 30px;
}

.sidenav a {
    padding: 8px;
    display: block;
    color:#fff;
    text-decoration: none;
    font-size: 25px;
    font-family:'Oldenburg', cursive;
    color: #818181;
}
#main {
    transition: margin-left .4s;
    padding: 20px;
    position: fixed;
}
#mySidenav a:hover { 
    color: #f9fccf;
}
#mySidenav a:active { 
    color: #1c7aff;
    
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
#japan{
    width: 100%;
    position: absolute;
    height: 100%;
    background:radial-gradient(circle, red 10%,white, white, white);
}